
{% set style = 'c-event--no_dateTimeSeparator' %}
 {% if dates and times %}
  {% set style = 'c-event--dateTimeSeparator' %}
{% endif %}

{%
  set classes = [
  'c-event',
  style,
  'l-constrained',
]
%}

<article {{ attributes.addClass(classes).merge(attributes) }}>

  <header class="c-event__header-wrapper">

    {# Breadcumbs #}
    <nav class="c-event__breadcrumb" aria-label="Breadcrumb">
    <ol class="c-event__breadcrumb-list">
      <li class="c-event__breadcrumb-item" aria-current="page">
          <a href="/events" class="c-event__breadcrumb-link">{{ 'Events'|t }}</a>
      </li>
    </ol>
  </nav>

    {# Title #}
    <h1 class="c-event-title">{{title}}</h1>

    {# Dates and Link #}
    {% if dates or link_url %}
      <ul class="c-event__details-wrapper">

        <div class="c-event__datetime-wrapper">

          {# Dates #}
          {% if dates %}
            <li class="c-event-dates">{{dates}}</li>
          {% endif %}

          {# Times #}
          {% if times %}
            <li class="c-event-times">{{times}}</li>
          {% endif %}

        </div>

        {# Link #}
        {% if link_url %}
          <li class="c-event__link">
            <a href="{{link_url}}" class="forest-button">
              {% if link_text %}{{ link_text }}{% else %}Visit Website{% endif %}
            </a>
          </li>
        {% endif %}
      </ul>
    {% endif %}

  </header>

  <hr class="left-hook-divider">

  <div class="c-event__content-wrapper">

    {% if image_url %}
      <div class="c-event__image-wrapper">
        <img src="{{image_url}}" alt="{{image_alt}}">
      </div>
    {% endif %}

    <div class="c-event-content__inner-wrapper">
    {# Overview #}
    {% if overview %}
      <h2 class="c-event__overview">
        {{ overview }}
      </h2>
    {% endif %}

    {# Body #}
    {% if body %}
      <div class="c-event__body-wrapper">
        {{ body }}
      </div>
    {% endif %}
    </div>

  </div>
</article>