{#
/**
 * @file
 * Component for Research (Node)
 *
 * Available props:
 * - research_attributes: [array] Any parent tag attributes.
 * - research_heading: [string]
 * - research_media: [string]
 * - research_key_experiments: [array]
 * - research_overview: [string]
 * - research_area: [string]
 * - research_content: [array]
 *
 */
#}

{%
  set classes = [
  'o-research',
]
%}

<article {{ research_attributes.addClass(classes).merge(attributes) }}>
  {% if research_media %}
    <div class="o-research__media">
      {% embed 'surf_main:media' with {
        media_attributes: create_attribute(),
        media: research_media,
      } only %}
      {% endembed %}
    </div>
  {% endif %}

  <div class="container container--xlarge">
    {{ title_suffix }}

    {% embed 'surf_main:header' with {
      header_heading: research_heading,
      header_heading_level: '1',
      header_attributes: create_attribute(),
      heading_attributes: create_attribute({'class': ['o-header__heading']}),
    } only %}
    {% endembed %}

    <div class="o-research-wrapper">

      {# Main Content #}
      <div class="o-research__main-content">

        {# Overview #}
        <div class="o-research__overview">
          {% embed 'surf_main:pullquote' with {
            pullquote_attributes: create_attribute(),
            pullquote_quote: research_overview,
            pullquote_type: 'large',
          } only %}
          {% endembed %}
        </div>

        {{ research_content }}

      </div>

      {# Additional Content #}
      <div class="o-research__additional-content">

        <div class="o-research__key-experiments">

          {% embed 'surf_main:left-hook' with {
            left_hook_attributes: create_attribute(),
          } only %}
          {% endembed %}

          {% embed 'surf_main:heading' with {
            heading_attributes: create_attribute({'class': ['a-heading--list-large']}),
            heading_text: 'Key Experiments',
            heading_level: '2',
          } only %}
          {% endembed %}

          {% embed 'surf_main:component-list' with {
            component_list_attributes: create_attribute({'class': ['o-component-list__heading','o-component-list--teaser-2-col']}),
            component_list_items: research_key_experiments,
          } only %}

            {% block list_items %}
              {% for item in component_list_items %}
                <li class="o-component-list__item">
                  {{ item }}
                </li>
              {% endfor %}
            {% endblock %}
          {% endembed %}

        </div>

        <div class="o-research__in-the-news">

          {% embed 'surf_main:left-hook' with {
            left_hook_attributes: create_attribute(),
          } only %}
          {% endembed %}

          {% embed 'surf_main:heading' with {
            heading_attributes: create_attribute({'class': ['a-heading--list-large']}),
            heading_text: research_area ~ ' In the News',
            heading_level: '2',
          } only %}
          {% endembed %}

          {{ drupal_view('in_the_news', 'research') }}
        </div>
      </div>
    </div>

  </div>
</article>