{%
  set classes = [
  'c-about-secondary',
  'l-constrained--xlarge',
  'l--bottom-spacing'
]
%}

<section {{ attributes.addClass(classes).merge(attributes) }}>

  {% if heading is not empty %}
  <div class="c-about-secondary__heading">
    <h1>{{heading}}</h1>
  </div>
  {% endif %}

  {% if left is not empty %}
  <div class="c-about-secondary__left">
    {{ left }}
  </div>
  {% endif %}

  {% if media_left_image_url is not empty %}
  <div class="c-about-secondary__left-image">
    <img src="{{media_left_image_url}}" alt="{{media_left_image_alt ? media_left_image_alt : '' }}">
  </div>
  {% endif %}

  {% if right is not empty %}
  <div class="c-about-secondary__right">
    {{ right }}
  </div>
  {% endif %}

  {% if media_right_image_url is not empty %}
  <div class="c-about-secondary__right-image">
    <img src="{{media_right_image_url}}" alt="{{media_right_image_alt ? media_right_image_alt : '' }}">
  </div>
  {% endif %}

</section>