{#
/**
 * @file
 * Component for Heading
 *
 * Available props:
 * - heading_attributes: [array] Any parent tag attributes.
 * - heading_text: [string] required
 * - heading_level: [string] default = 2
 * - heading_url: [string]

 * Example usage:
{% embed 'surf_main:heading' with {
  heading_attributes: create_attribute(),
  heading_text: 'Heading Level Two',
  heading_level: '2',
} only %}
{% endembed %}
 */
#}

{%
  set classes = [
  'a-heading',
]
%}

<h{{ heading_level|default('2') }} {{ heading_attributes.addClass(classes).merge(attributes) }}>

  {%- if heading_url -%}
    <a href="{{ heading_url }}">{{ heading_text }}</a>
  {%- else -%}
    {{ heading_text }}
  {%- endif -%}

</h{{ heading_level|default('2') }}>