{#
/**
 * @file
 * Page component for an Experiment
 *
 * Available props:
 * - attributes: [Drupal\Core\Template\Attribute] Drupal reserved space for attributes.
 * - experiment_attributes: [string] Component reserved space for attributes.
 * - experiment_content: [array] Rendered array of the main content for this component.
 * - experiment_dates: [array] Rendered array of dates relating to this component.
 * - experiment_heading: [string] Value of the page title for this component.
 * - experiment_heading_summary: [string] Value of sub-title text for this component.
 * - experiment_media: [array] Rendered array of the Media object for this component.
 * - experiment_research_area: [string] Value of the selected research area.
 *
 */
#}

{% set classes = [
    'p-experiment',
] %}

<article {{ experiment_attributes.addClass(classes).merge(attributes) }}>
    {% if experiment_media %}
        <div class="p-experiment__media">
            {{ experiment_media }}
        </div>
    {% endif %}

    <div class="p-experiment__header">
      <div class="container container--large">
        {% embed 'surf_main:header' with {
            header_heading: experiment_heading,
            header_heading_level: '1',
            header_label: 'Experiment',
            header_summary: experiment_heading_summary|default({}),
            header_attributes: create_attribute(),
            heading_attributes: create_attribute({'class': ['o-header__heading']}),
            experiment_dates,
        } only %}
            {% block header_links_block %}
                {{ drupal_breadcrumb() }}

                <div class="p-experiment__dates">
                    {{ experiment_dates }}
                </div>
            {% endblock %}
        {% endembed %}
      </div>
    </div>

    <div class="p-experiment__content l-main">
        {{ experiment_content }}
    </div>

    {% if drupal_view_result('related_articles', 'experiment') is not empty %}
        <section class="p-experiment__related">
            <div class="container container--default">
                {% include 'surf_main:left-hook' with {
                    left_hook_attributes: create_attribute(),
                } %}

                {% include 'surf_main:heading' with {
                    heading_attributes: create_attribute({'class': ['a-heading--lg']}),
                    heading_text: 'In The News'|t,
                    heading_level: '2',
                } %}

                {{ drupal_view('related_articles', 'experiment') }}
            </div>
        </section>
    {% endif %}
</article>
