{#
/**
 * @file
 * Page component for an Experiment
 *
 * Available props:
 * - attributes: [Drupal\Core\Template\Attribute] Drupal reserved space for attributes.
 * - experiment_attributes: [string] Component reserved space for attributes.
 * - experiment_content: [array] Rendered array of the main content for this component.
 * - experiment_dates: [array] Rendered array of dates relating to this component.
 * - experiment_heading: [string] Value of the page title for this component.
 * - experiment_heading_summary: [string] Value of sub-title text for this component.
 * - experiment_media: [array] Rendered array of the Media object for this component.
 *
 */
#}

{% set classes = [
    'p-experiment',
] %}

<article {{ experiment_attributes.addClass(classes).merge(attributes) }}>
    {% if experiment_media %}
        <div class="p-experiment__media">
            {{ experiment_media }}
        </div>
    {% endif %}

    <div class="container container--xlarge">
        {% embed 'surf_main:header' with {
            header_heading: experiment_heading,
            header_heading_level: '1',
            header_label: 'Experiment',
            header_summary: experiment_heading_summary|default({}),
            header_attributes: create_attribute(),
            heading_attributes: create_attribute({'class': ['o-header__heading']}),
            experiment_dates,
        } only %}
            {% block header_links_block %}
                {{ drupal_breadcrumb() }}

                <div class="p-experiment__dates">
                    {{ experiment_dates }}
                </div>
            {% endblock %}
        {% endembed %}

        <main id="main-content" class="p-experiment__content-wrapper">
            <div class="p-experiment__main-content">
                {{ experiment_content }}
            </div>

            {% if drupal_view_result('in_the_news', 'experiment') is not empty %}
                <div class="p-experiment__additional-content">
                    <div class="p-experiment__in-the-news">
                        {% embed 'surf_main:left-hook' with {
                            left_hook_attributes: create_attribute(),
                        } only %}
                        {% endembed %}

                        {% embed 'surf_main:heading' with {
                            heading_attributes: create_attribute({'class': ['a-heading--lg']}),
                            heading_text: research_area ~ 'IN THE NEWS',
                            heading_level: '2',
                        } only %}
                        {% endembed %}

                        {{ drupal_view('in_the_news', 'experiment') }}
                    </div>
                </div>
            {% endif %}
        </main>
    </div>
</article>
