{#
/**
 * @file
 * Component for Button
 *
 * Available props:
 * - button_attributes: [array] Any parent tag attributes.
 * - button_external: [boolean] Determines whether or not to set the target attribute.
 * - button_html_tag: [text] Restricted to 'link', 'input' or 'button'.
 * - button_prefix: [string] Specifying icon elements (see atom Icon).
 * - button_style: [string] Restricted to 'full-navy', 'full-black', 'full-white',
 *   'underline-navy', 'underline-black', and 'underline-white'.
 * - button_suffix: [string] Specifying icon elements (see atom Icon).
 * - button_title: [string] Text for the button.
 * - button_url: [string] URL if using a link.
 *
 */
#}

{% set classes = [
    'a-button',
    'a-button--' ~ button_style,
    'a-button--size-' ~ button_size,
] %}

{% if button_html_tag == 'link' %}
    <a {{ button_attributes.addClass(classes) }} href="{{ button_url }}" {% if button_external %} target="_blank" {% endif %} {{ attributes }}>
        {% if button_prefix %}
            {% include 'surf_main:icon' with {
                icon_position: 'left',
                icon_type: button_prefix,
            } %}
        {% endif %}

        {{- button_title -}}

        {% if button_suffix %}
            {% include 'surf_main:icon' with {
                icon_position: 'right',
                icon_type: button_suffix,
            } %}
        {% endif %}
    </a>
{% endif %}

{% if button_html_tag == 'input' %}
    <input {{ button_attributes.addClass(classes) }} value="{{- button_title -}}" {{ attributes }}>
{% endif %}

{% if button_html_tag == 'button' %}
    <button {{ button_attributes.addClass(classes) }} {{ attributes }}>
        {% if button_prefix %}
            {% include 'surf_main:icon' with {
                icon_position: 'left',
                icon_type: button_prefix,
            } %}
        {% endif %}

        {{- button_title -}}

        {% if button_suffix %}
            {% include 'surf_main:icon' with {
                icon_position: 'right',
                icon_type: button_suffix,
            } %}
        {% endif %}
    </button>
{% endif %}
