{#
/**
 * @file
 * Component for Button
 *
 * Available props:
 * - attributes: [Drupal\Core\Template\Attribute] Drupal space specific attributes.
 * - button_attributes: [array] Any custom attributes needed for this component.
 * - button_color: [string] Options include 'navy', 'black', and 'white'.
 * - button_external: [boolean] Determines whether or not to set the target attribute.
 * - button_html_tag: [text] Options include 'link', 'input' or 'button'.
 * - button_prefix: [string] Specifying icon elements as classes -- example 'icon-arrow-right'.
 * - button_size: [string] Options include 'small', and 'large'.
 * - button_style: [string] Options include 'primary', and 'underline'.
 * - button_suffix: [string] Specifying icon elements as classes -- example 'icon-arrow-right'.
 * - button_title: [string] Text for the button.
 * - button_url: [string] URL if using a link.
 *
 */
#}

{% set classes = [
    'a-button',
    'a-button--' ~ button_color,
    'a-button--' ~ button_style,
    'a-button--' ~ button_size,
    button_prefix ? 'a-button--' ~ button_prefix,
    button_suffix ? 'a-button--' ~ button_suffix,
] %}

{% if button_html_tag == 'link' %}
    <a {{ button_attributes.addClass(classes).merge(attributes) }} href="{{ button_url }}" {% if button_external %} target="_blank" {% endif %}>
        {{- button_title -}}
    </a>
{% endif %}

{% if button_html_tag == 'input' %}
    <input {{ button_attributes.addClass(classes).merge(attributes) }} value="{{- button_title -}}">
{% endif %}

{% if button_html_tag == 'button' %}
    <button {{ button_attributes.addClass(classes).merge(attributes) }}>
        {{- button_title -}}
    </button>
{% endif %}
