
{%
  set classes = [
  'c-layout',
  'c-layout--layout_width',
  'c-layout--layout_columns',
  'l-constrained',
]
%}

<section {{ attributes.addClass(classes).merge(attributes) }}>
  <div class="c-layout--inner-wrapper">

    <div class="c-layout--main">

      {# PRIMARY COLUMN #}
      {% if primary %}
        <div class="c-layout--region c-layout--primary">
          {% block primary_block %}
            {{ secondary|check_markup('plain') }}
          {% endblock %}
        </div>
      {% endif %}

      {# SECONDARY COLUMN #}
      {% if secondary %}
        {% block secondary_block %}
          <div class="c-layout--region c-layout--secondary">
            {{ secondary|check_markup('plain') }}
          </div>
        {% endblock %}
      {% endif %}

      {# TERTIARY COLUMN #}
      {% if tertiary %}
        {% block tertiary_block %}
          <div class="c-layout--region c-layout--tertiary">
          {{ tertiary|check_markup('plain') }}
          </div>
        {% endblock %}
      {% endif %}

      {# QUATERNARY COLUMN #}
      {% if quaternary %}
        {% block quaternary_block %}
          <div class="c-layout--region c-layout--quaternary">
            {{ quaternary|check_markup('plain') }}
          </div>
        {% endblock %}
      {% endif %}

    </div>

  </div>
</section>
