<article {{ clAttributes.addClass('c-article'|addModifiers(style)) }}>

  {# Primary Media (image) #}
  {% if image_url %}
  <div class="c-article__image-wrapper">
    <img src="{{image_url}}" alt="{{image_alt}}">
  </div>
  {% endif %}

  {# Primary Media (video) #}
  {% if video_url %}
  <div class="c-article__video-wrapper">
    <iframe src="https://player.vimeo.com/video/{{video_url}}" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
  </div>
  {% endif %}




  <header class="c-article__header-wrapper">

    <div class="c-article__breadcrumbs-date-wrapper">
      {# Breadcrumbs #}
      <nav class="c-article__breadcrumb" aria-label="Breadcrumb">
        <ol class="c-article__breadcrumb-list">
          <li class="c-article__breadcrumb-item">
            <a href="/news" class="c-article__breadcrumb-link" aria-current="page">{{ 'News'|t }}</a>
          </li>
        </ol>
      </nav>
    </div>

    {# Title #}
    <h1 class="c-article__title">{{title}}</h1>
  </header>



  <div class="c-article__content-wrapper">

    {# Overview #}
    {% if overview %}
    <div class="c-article__overview">
     <p>{{ overview }}</p>
    </div>
    {% endif %}

    {# Body #}
    {% if body %}
    <div class="c-article__body">
      {{ body }}
    </div>
    {% endif %}

  </div>


  <div class="c-article__bottom-wrapper">

      {# Date #}
      {% if date %}
      <div class="c-article__date">
        {{date}}
      </div>
      {% endif %}


    {# Author #}
    {% if author %}
    <p class="c-article__author">
      by {{ author }}
    </p>
    {% endif %}

    {# Categories #}
    {% if categories %}
    <ul class="c-article__categories">
      {% for item in categories['#items'] %}
      <li class="c-article__categories-item">
        <a
          href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': item.entity.tid.value}) }}">{{item.entity.name.value}}</a>
        {# {{dump(item.entity)}}
        {{dump(item.entity.url.value)}} #}
      </li>
      {% endfor %}
    </ul>
    {% endif %}

    {# Press contact(s) #}
    {% if contacts %}
    <h3 class="c-article__contacts-title">Press Contact</h3>
    <ul class="c-article__contacts">
      {% for item in contacts %}
      <li class="c-article__contacts-item">
        {% include "person" with {
        image_url: item.image_url,
        image_alt: item.image_alt,
        full_name: item.name,
        initials: initials,
        title: item.title,
        phone: item.phone,
        contact_url: item.contact_url,
        bio_url: item.bio_url,
        } %}
      </li>
      {% endfor %}
    </ul>
    {% endif %}

    {# Media Download(s) #}
    {% if downloads %}
    {% include "resources-list" with {
    heading: 'Media Downloads',
    items: downloads
    } %}
    {% endif %}

  </div>

  {% if related %}
  <hr class="left-hook-divider" />
  {# Press Resources #}
  <div class="c-article__press-resources-wrapper">
    <h2 class="c-article__press-resources-title">RELATED NEWS</h2>
    {{ include('list', {style: 'default-column', items: related })}}
  </div>
  {% endif %}

</article>