{% if image_url is empty %}
  {% set has_image = 'has-no-image' %}
{% else %}
  {% set has_image = 'has-image' %}
{% endif %}

<article {{ attributes.addClass(['c-experiment-research-page', has_image]).merge(clAttributes) }}>

  {# Image #}
  {% if image_url %}
  <div class="c-experiment-research-page__image-wrapper">
    <img src="{{ image_url }}" alt="{{image_alt}}">
  </div>
  {% endif %}

  <div class="c-experiment-research-page__header-wrapper l-constrained--xlarge">

    {# Breadcrumbs #}
    {% if breadcrumbs %}
    <div class="c-experiment-research-page__breadcrumbs-wrapper">
      {# Breadcumbs #}
        {% include "breadcrumbs" with {
          items: breadcrumbs
        } %}
    </div>
    {% endif %}

    {# Experiment Date #}
    {% if type == 'experiment' and dates is not empty %}
      <p>{{ dates }}</p>
    {% endif %}

    {# Title #}
    {% if title %}
    <h1 class="c-experiment-research-page__title">
      {{ title }}
    </h1>
    {% endif %}

    {# Intro #}
    {% if intro %}
    <p class="c-experiment-research-page__intro">
      {{ intro }}
    </p>
    {% endif %}

  </div>

  {# Body #}
  {% if body %}
  <div class="c-experiment-research-page__body-wrapper">
    {{ body }}
  </div>
  {% endif %}

  {# Key Facts #}
  {% if key_facts.0 is not empty %}
  <div class="c-experiment-research-page__key-facts-wrapper l-constrained--xlarge">

  {% if icon_url %}
  <div class="c-experiment-research-page__icon-wrapper">
    <img src="{{ icon_url }}" alt="{{icon_url ? icon_url : title}}">
  </div>
  {% endif %}

    <h2 class="c-experiment-research-page__key-facts-title">Key Facts</h2>
    <div class="c-experiment-research-page__key-facts">
      {{ key_facts }}
    </div>
  </div>
  {% endif %}


  {# Extra Content #}
  {% if extra_content and type == 'research_area' %}
  <div class="c-experiment-research-page__extra-content-wrapper">
    {{ extra_content }}
  </div>
  {% endif %}


  {# Key Experiments #}
  {% if key_experiments.0 is not empty  %}
  <div class="c-experiment-research-page__key-experiments-wrapper l-constrained--xlarge">
    <h2 class="c-experiment-research-page__key-experiments-title">Key Experiments</h2>
    <div class="c-experiment-research-page__key-experiments">
      {{ key_experiments }}
    </div>
  </div>
  {% endif %}

  {# News #}
  {% if type == 'research_area' %}
    {% include "header" with {
      heading: research_area_name ~ ' In the News',
      header_style: 'black-text',
      heading_hr: true
    } %}
    {{ drupal_view('research_news', 'block_research_area_in_the_news', research_area_id) }}
  {% else %}
    {% include "header" with {
      heading: 'In the News',
      header_style: 'black-text',
      heading_hr: true
    } %}
    {{ drupal_view('news', 'news_feature_block') }}
  {% endif %}

</article>