{#
/**
 * @file
 * Theme override for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   JavaScript.
 *
 * @see template_preprocess_views_view()
 */
#}
{% set classes = [
    'o-view',
    'o-view--' ~ id|clean_class,
    'o-view--' ~ display_id|clean_class,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
] %}

{{ attach_library('surf_main/views') }}
{{ attach_library('surf_main/view--' ~ id|clean_class) }}

<div {{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {{ title_suffix }}

    {% if exposed %}
        <div class="o-view__exposed-filters">
            {{ exposed }}
        </div>
    {% endif %}

    {% if attachment_before %}
        <div class="o-view__attachement--before">
            {{ attachment_before }}
        </div>
    {% endif %}

    <div id="views-aria" aria-live="polite">
        <p class="visually-hidden"></p>
    </div>

    {% if header %}
        <header class='o-view__header' aria-label="{{ 'Listing information'|t }}">
            {{ header }}
        </header>
    {% endif %}

    {% if rows -%}
        <div class="o-view__rows">
            {% embed 'surf_main:one-column' with {
                layout_attributes: create_attribute(),
                layout_items: rows,
                layout_html_wrapper: 'ul',
            } only %}
                {% block layout_content %}
                    {% for item in layout_items %}
                        <li class="l-twocol__region">
                            {{ item }}
                        </li>
                    {% endfor %}
                {% endblock %}
            {% endembed %}
        </div>
    {% elseif empty -%}
        <div class="o-view__empty">
            {{ empty }}
        </div>
    {% endif %}

    {% if pager %}
        <div class="o-view__pager">
            {{ pager }}
        </div>
    {% endif %}

    {% if attachment_after %}
        <div class="o-view__attachement--after">
            {{ attachment_after }}
        </div>
    {% endif %}

    {% if footer %}
        <footer class="o-view__footer" aria-label="Listing footer">
            {{ footer }}
        </footer>
    {% endif %}
</div>
