{{ attach_library('surf_main/site-footer') }}
{% import '@surf_main-components/icons/icon.twig' as icon %}
<footer role="contentinfo" class="site-footer__wrapper l-constrained--wide">
	<div class="footer-top__wrapper">
		<div class="footer-top l-constrained">
			<h2 class="footer-title">Discovery at great depths</h2>
			<div class="footer-lists">
				<nav role="navigation" aria-label="SURF Social media list" class="social__wrapper">
					<h3 class="footer-label">Follow Us</h3>
					<p class="newsletter__wrapper">
						<a class="gradient-button" href="#">Newsletter Signup</a>
					</p>
					<ul class="social-list">
						<li class="social-item">
							<a href="https://www.facebook.com/SanfordUndergroundLab" rel="noopener nofollow" target="_blank" class="facebook">
								<span class="visually-hidden">Facebook</span>
								{{icon.inline('ui-icon-facebook')}}
							</a>
						</li>
						<li class="social-item">
							<a href="https://twitter.com/sanfordlab" rel="noopener nofollow" target="_blank" class="twitter">
								<span class="visually-hidden">Twitter</span>
								{{icon.inline('ui-icon-twitter')}}
							</a>
						</li>
						<li class="social-item">
							<a href="https://www.linkedin.com/sanfordlab" rel="noopener nofollow" target="_blank" class="linkedin">
								<span class="visually-hidden">LinkedIn</span>
								{{icon.inline('ui-icon-linkedin')}}
							</a>
						</li>
						<li class="social-item">
							<a href="https://www.instagram.com/sanfordlab/" rel="noopener nofollow" target="_blank" class="instagram">
								<span class="visually-hidden">Instagram</span>
								{{icon.inline('ui-icon-instagram')}}
							</a>
						</li>
						<li class="social-item">
							<a href="https://www.youtube.com/channel/UCye0h8GkTnqGf3HofMcWhbQ" rel="noopener nofollow" target="_blank" class="youtube">
								<span class="visually-hidden">Youtube</span>
								{{icon.inline('ui-icon-youtube')}}
							</a>
						</li>
						<li class="social-item">
							<a href="https://vimeo.com/sanfordlab" rel="noopener nofollow" target="_blank" class="vimeo">
								<span class="visually-hidden">Vimeo</span>
								{{icon.inline('ui-icon-vimeo')}}
							</a>
						</li>
					</ul>
				</nav>

				<nav role="navigation" aria-label="SURF contact infromation" class="contact__wrapper">
					<h3 class="footer-label">Contact</h3>
					<ul class="contact-list">
						<li class="contact-item">
							<a href="https://goo.gl/maps/5tA3CVHkCsDxSEmP6">
								<address>{{'630 E. Summit St. Lead, SD 57754'|t}}</address>
							</a>
						</li>
						<li class="contact-item">
							<a href="tel:6057228650">{{'(605) 722-8650'|t}}</a>
						</li>
						<li class="contact-item">
							<a href="/contact" rel="noopener nofollow" target="_blank" class="">{{'Contact Us'|t}}</a>
						</li>
					</ul>
				</nav>

				<nav role="navigation" aria-label="Additional information and resources menu" class="info__wrapper">
					<h3 class="footer-label">{{'Info For'|t}}</h3>
					<ul class="info-list">
						<li class="info-item">
							<a href="/visit" rel="noopener nofollow" target="_blank" class="">
								{{'Visitors'|t}}
							</a>
						</li>
						<li class="info-item">
							<a href="/education" rel="noopener nofollow" target="_blank" class="">
								{{'Educators'|t}}
							</a>
						</li>
						<li class="info-item">
							<a href="/researchers" rel="noopener nofollow" target="_blank" class="">
								{{'Researchers'|t}}
							</a>
						</li>
						<li class="info-item">
							<a href="/contractors-and-vendors" rel="noopener nofollow" target="_blank" class="">
								{{'Contractors &amp; Vendors'|t}}
							</a>
						</li>
						<li class="info-item">
							<a href="/press-resources" rel="noopener nofollow" target="_blank" class="">
								{{'Press'|t}}
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>

	<div class="footer-bottom__wrapper">
		<div class="footer-bottom l-constrained">
			<a href="/" class="footer-logo" rel="home"><img src="{{ base_path ~ directory }}/themes/custom/surf_main/images/logos/footer-logo.svg" alt="Sanford Underground Research Facility home">
			</a>
			<nav role="navigation" aria-label="Footer Utility Menu" class="footer-utility">
				<ul class="footer-utility-nav">
					<li>
						<a href="/esh" rel="noopener nofollow" target="_blank" class="">
							{{'ESH Manual'|t}}
						</a>
					</li>
					<li>
						<a href="/publications-and-reports" rel="noopener nofollow" target="_blank" class="">
							{{'Publications &amp; Reports'|t}}
						</a>
					</li>
					<li>
						<a href="/legal-and-attribution" rel="noopener nofollow" target="_blank" class="">
							{{'Legal &amp; Attribution'|t}}
						</a>
					</li>
					<li>
						<a href="/sdsta" rel="noopener nofollow" target="_blank" class="">
							{{'SURF is managed by the SDSTA'|t}}
						</a>
					</li>
					<li>
						<a href="/accessibility-statement" rel="noopener nofollow" target="_blank" class="">
							{{'Accessibility'|t}}
						</a>
					</li>
				</ul>
			</nav>
			<a href="#top" class="back-to-top" aria-label="Scroll back to top">
				{{icon.inline('ui-icon-angle-up')}}
			</a>
		</div>
	</div>
</footer>
