{{ attach_library('surf_main/site-footer') }}
{% import '@surf_main-components/icons/icon.twig' as icon %}
<footer class="site-footer__wrapper l-constrained--wide">
	<div class="footer-top__wrapper l-constrained">
		<h2 class="footer-title">Discovery at great depths</h2>
		<div class="footer-top">
			<div class="social__wrapper">
				<h3 class="footer-label">Follow Us</h3>
				<p class="newsletter__wrapper">
					<a class="gradient-button" href="#">Newsletter Signup</a>
				</p>
				<ul class="social-list">
					<li class="social-item">
						<a href="https://www.facebook.com/SanfordUndergroundLab" rel="noopener nofollow" target="_blank" class="facebook">
							<span class="visually-hidden">Facebook</span>
							{{icon.inline('ui-icon-facebook')}}
						</a>
					</li>
					<li class="social-item">
						<a href="https://twitter.com/sanfordlab" rel="noopener nofollow" target="_blank" class="twitter">
							<span class="visually-hidden">Twitter</span>
							{{icon.inline('ui-icon-twitter')}}
						</a>
					</li>
					<li class="social-item">
						<a href="https://www.linkedin.com/sanfordlab" rel="noopener nofollow" target="_blank" class="linkedin">
							<span class="visually-hidden">LinkedIn</span>
							{{icon.inline('ui-icon-linkedin')}}
						</a>
					</li>
					<li class="social-item">
						<a href="https://www.instagram.com/sanfordlab/" rel="noopener nofollow" target="_blank" class="instagram">
							<span class="visually-hidden">Instagram</span>
							{{icon.inline('ui-icon-instagram')}}
						</a>
					</li>
					<li class="social-item">
						<a href="https://www.youtube.com/channel/UCye0h8GkTnqGf3HofMcWhbQ" rel="noopener nofollow" target="_blank" class="youtube">
							<span class="visually-hidden">Youtube</span>
							{{icon.inline('ui-icon-youtube')}}
						</a>
					</li>
					<li class="social-item">
						<a href="https://vimeo.com/sanfordlab" rel="noopener nofollow" target="_blank" class="vimeo">
							<span class="visually-hidden">Vimeo</span>
							{{icon.inline('ui-icon-vimeo')}}
						</a>
					</li>
				</ul>
			</div>

			<div class="contact__wrapper">
				<h3 class="footer-label">Contact</h3>
				<p>{{'630 E. Summit St. Lead, SD 57754'|t}}</p>
				<ul class="contact-list">
					<li class="contact-item">
						<a href="tel:6057228650">{{'(605) 722-8650'|t}}</a>
					</li>
					<li class="contact-item">
						<a href="/contact" rel="noopener nofollow" target="_blank" class="">{{'Contact Us'|t}}</a>
					</li>
				</ul>
			</div>

			<div class="info__wrapper">
				<h3 class="footer-label">{{'Info For'|t}}</h3>
				<ul class="info-list">
					<li class="info-item">
						<a href="" rel="noopener nofollow" target="_blank" class="">
							{{'Visitors'|t}}
						</a>
					</li>
					<li class="info-item">
						<a href="" rel="noopener nofollow" target="_blank" class="">
							{{'Educators'|t}}
						</a>
					</li>
					<li class="info-item">
						<a href="" rel="noopener nofollow" target="_blank" class="">
							{{'Researchers'|t}}
						</a>
					</li>
					<li class="info-item">
						<a href="" rel="noopener nofollow" target="_blank" class="">
							{{'Contractors &amp; Vendors'|t}}
						</a>
					</li>
					<li class="info-item">
						<a href="" rel="noopener nofollow" target="_blank" class="">
							{{'Press'|t}}
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="footer-bottom__wrapper">
		<div class="footer-bottom l-constrained">
			<a href="/" class="footer-logo" rel="home"><img src="{{ base_path ~ directory }}/themes/custom/surf_main/images/logos/footer-logo.svg" alt="Sanford Underground Research Facility home">
			</a>
			{{ footer_bottom }}
			<a href="#top" class="back-to-top" aria-label="Scroll back to top">
				<span class="visually-hidden focusable">Scroll back to top</span>
				{{icon.inline('ui-icon-angle-up')}}
			</a>
		</div>
	</div>
</footer>
