{#
/**
 * @file
 * Component for Teaser
 *
 * Available props:
 * - attributes: [Drupal\Core\Template\Attribute] Space for Drupal attributes.
 * - teaser_attributes [mixed] Any custom attributes for the teaser.
 * - teaser_content: [string] Teaser text.
 * - teaser_media: [mixed] Representative media for the teaser.
 * - teaser_title: [string] Primary title for the teaser.
 * - teaser_title_tag: [string] 'h3' for example.
 * - teaser_type: [string] Available options include, 'list', 'super' and 'person'.
 * - teaser_url: [string] Path alias for linking teasers.
 *
 * Available slots:
 * - teaser_content_prefix
 * - teaser_content_suffix
 * - teaser_media_prefix
 *
 */
#}

{% set classes = [
    'm-teaser',
    teaser_type ? 'm-teaser--' ~ teaser_type,
] %}

<article {{ teaser_attributes.addClass(classes).merge(attributes) }}>
    {% if teaser_type != 'experiment' %}
      {% if teaser_media %}
        <div class="m-teaser__media">
          {% if teaser_url %}
            <a href="{{ teaser_url }}" class="m-teaser__link">
              {% endif %}

              {% block teaser_media_prefix %}{% endblock %}
                {{ teaser_media }}
              {% if teaser_url %}
            </a>
          {% endif %}
        </div>
      {% else %}
        <div class="m-teaser__media">
              {% if teaser_url %}
              <a href="{{ teaser_url }}" class="m-teaser__link">
                  {% endif %}
                  <img aria-hidden="true" loading="lazy" src="/themes/custom/surf_main/components/02-molecules/teaser/img/news-placeholder.png" width="840" height="560" alt="Sanford Underground Research Facility">
                  {% if teaser_url %}
              </a>
              {% endif %}
          </div>
      {% endif %}
    {% endif %}

    <div class="m-teaser__content">
        {% block teaser_content_prefix %}{% endblock %}

        {% block teaser_content %}
        <{{ teaser_title_tag|default('h3') }} class="m-teaser__title">
        {% if teaser_url %}
        <a href="{{ teaser_url }}" class="m-teaser__link">
            {% endif %}

            {{ teaser_title }}

            {% if teaser_url %}
        </a>
        {% endif %}
    </{{ teaser_title_tag|default('h3') }}>

    {% if teaser_content %}
        <p class="m-teaser__content-text">
            {{- teaser_content -}}
        </p>
    {% endif %}
    {% endblock %}

    {% block teaser_content_suffix %}{% endblock %}
    </div>
</article>
