{#
/**
 * @file
 * Component for Research (Node)
 *
 * Available props:
 * - attributes: [Drupal\Core\Template\Attribute] Drupal reserved space for attributes.
 * - research_attributes: [array] Any parent tag attributes.
 * - research_heading: [string]
 * - research_media: [string]
 * - research_key_experiments: [array]
 * - research_overview: [string]
 * - research_area: [string]
 * - research_content: [array]
 *
 */
#}

{% set classes = [
    'p-research',
] %}

<article {{ research_attributes.addClass(classes).merge(attributes) }}>
    {% if research_media %}
        <div class="p-research__media">
            {{ research_media }}
        </div>
    {% endif %}

    <div class="container container--xlarge">
        {{ title_suffix }}

        {% embed 'surf_main:header' with {
            header_heading: research_heading,
            header_heading_level: '1',
            header_attributes: create_attribute(),
            heading_attributes: create_attribute({'class': ['o-header__heading']}),
        } only %}
        {% endembed %}

        <div class="p-research-wrapper">
            {# Main Content #}
            <div class="p-research__main-content">
                {# Overview #}
                <div class="p-research__overview">
                    {% embed 'surf_main:pullquote' with {
                        pullquote_attributes: create_attribute(),
                        pullquote_quote: research_overview,
                        pullquote_type: 'lg',
                    } only %}
                    {% endembed %}
                </div>

                {{ research_content }}
            </div>

            {# Additional Content #}
            <div class="p-research__additional-content">
                <div class="p-research__key-experiments">
                    {% embed 'surf_main:left-hook' with {
                        left_hook_attributes: create_attribute(),
                    } only %}
                    {% endembed %}

                    {% embed 'surf_main:heading' with {
                        heading_attributes: create_attribute({'class': ['a-heading--list-large']}),
                        heading_text: 'Key Experiments',
                        heading_level: '2',
                    } only %}
                    {% endembed %}

                    {% embed 'surf_main:component-grid' with {
                        component_grid_attributes: create_attribute({'class': ['o-component-grid__heading']}),
                        component_grid_items: research_key_experiments,
                        grid_type: 'col-2',
                        grid_gap: 'lg',
                    } only %}

                        {% block grid_items %}
                            {% for item in component_grid_items %}
                                <li class="o-component-grid__item">
                                    {{ item }}
                                </li>
                            {% endfor %}
                        {% endblock %}
                    {% endembed %}
                </div>

                <div class="p-research__in-the-news">
                    {% if drupal_view_result('in_the_news', 'research') is not empty %}
                        {% embed 'surf_main:left-hook' with {
                            left_hook_attributes: create_attribute(),
                        } only %}
                        {% endembed %}

                        {% embed 'surf_main:heading' with {
                            heading_attributes: create_attribute({'class': ['a-heading--list-large']}),
                            heading_text: research_area ~ ' In the News',
                            heading_level: '2',
                        } only %}
                        {% endembed %}

                        {{ drupal_view('in_the_news', 'research') }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</article>
