{% if image_url is empty %}
  {% set has_image = 'has-no-image' %}
{% else %}
  {% set has_image = 'has-image' %}
{% endif %}

{%
  set classes = [
  'c-basic-page',
  has_image,
]
%}

<article {{ attributes.addClass(classes).merge(attributes) }}>

  {# Image #}
  {% if image_url %}
    <div class="c-basic-page__image-wrapper">
      <img src="{{ image_url }}" alt="{{image_alt}}">
    </div>
  {% endif %}

  <div class="c-basic-page__header-wrapper l-constrained--xlarge">

    {# Breadcrumbs #}
    {% if breadcrumbs %}
      <div class="c-basic-page__breadcrumbs-wrapper">

        {# Breadcumbs #}
        {{ include('surf_main:breadcrumbs', {
          items: breadcrumbs
        }, with_context = false) }}

      </div>
    {% endif %}

    {# Title #}
    {% if title %}
      <h1 class="c-basic-page__title">
        {{ title }}
      </h1>
    {% endif %}

    {# intro #}
    {% if intro %}
      <p class="c-basic-page__intro">
        {{ intro }}
      </p>
    {% endif %}

    {# Link #}
    {% if link_url %}
      <div class="c-basic-page__link-wrapper">
        <a href="{{ link_url }}" class="forest-button">{{ link_text }}</a>
      </div>
    {% endif %}

  </div>

  {# Body #}
  <div class="c-basic-page__body-wrapper">
    {{ body }}
  </div>

</article>