{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumbs: Breadcrumb trail items.
 */
#}
{{ attach_library('surf_main/breadcrumbs') }}

{% if breadcrumbs %}
  <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
    <h2 id="system-breadcrumb" class="breadcrumb__heading visually-hidden">{{ 'Breadcrumb'|t }}</h2>
    <ol class="breadcrumb__list">
    {% for item in breadcrumbs %}
      <li class="breadcrumb__item">
        {% if item.url %}
          <a href="{{ item.url }}" class="breadcrumb__text breadcrumb__link">{{ item.text }}</a>
        {% else %}
          <span class="breadcrumb__text">{{ item.text }}</span>
        {% endif %}
        {% if separator and not loop.last %}
          <span class="breadcrumb__separator">{{ separator }}</span>
        {% endif %}
      </li>
    {% endfor %}
    </ol>
  </nav>
{% endif %}
