{#
/**
 * @file
 * Component for Resource File
 *
 * Available props:
 * - resource_file_attributes: [array] Any parent tag attributes.
 * - resource_file_url: [string] required
 * - resource_file_title: [string] required
 * - resource_file_size: [string]
 * - resource_file_mimetype: [string]
 *
 */
#}

{%
  set classes = [
  'm-resource-file',
  resource_file_mimetype,
]
%}

<div {{ resource_file_attributes.addClass(classes).merge(attributes) }}>
  <div class="m-resource-file__wrapper">
    <p><a href="{{resource_file_url}}" target="_blank" rel="nofollow noreferrer noopener" class="m-resource-file__url">{{resource_file_title}}</a></p>
    <p><span class="m-resource-file__size">{{resource_file_size}}</span> <span class="m-resource-file__mimetype">{{resource_file_mimetype}}</span></p>
  </div>
</div>