{% import '@surf_main-components/component.twig' as component %}
{% import '@surf_main-components/icons/icon.twig' as icon %}
{{ attach_library('surf_main/teaser') }}

{% set modifiers = modifiers|default([])|merge([ image ? 'has-image' : 'no-image' ]) %}

<{{tag|default('article')}} {{ component.attributes('teaser', modifiers, attr) }}>
  {% if image %}
  <div class="teaser__image">
    {% if title_url %}
      <a href="{{title_url}}" class="teaser__image-link" aria-hidden="true">{{image}}</a>
    {% else %}
      {{ image }}
    {% endif %}
  </div>
  {% endif %}
  <div class="teaser__content clearfix">
    {% if type %}
    <span class="teaser__type">{{ type }}</span>
    {% endif %}
    <h3 class="teaser__title">
      {% if title_url %}
        <a href="{{title_url}}" class="teaser__title-link">{{title}}</a>
      {% else %}
      {{title}}
      {% endif %}
    </h3>
    {% if subtitle %}
    <div class="teaser__subtitle">{{ subtitle }}</div>
    {% endif %}
    {% if dateline or author or authors or outlet %}
    <footer class="teaser__meta">
      {% if dateline %}
        <span class="teaser__dateline">{{ dateline }}</span>
      {% endif %}
      {% if author %}
        <span class="teaser__author">{{ author }}</span>
      {% endif %}
    </footer>
    {% endif %}
    {% if description %}
    <div class="teaser__description">{{ description }}</div>
    {% endif %}
    {% if tags %}
    <div class="teaser__tags">{{ tags }}</div>
    {% endif %}
  </div>
</{{tag|default('article')}}>
