{#
/**
 * @file
 * Theme implementation to display an Experiement Node with Teaser view mode.
 *
 * Available variables:
 *  - No additional variables are available for this Node type
 *
 * @see templates/node/node.html.twig
 * @see components/02-molecules/teaser/teaser.twig
 */
#}

{% if content.field_dates_only|render %}
    {% set experiment_dates %}
        {% if content.field_dates_only|render and not node.field_dates_only.0.get('end_value').value %}
            {{- content.field_dates_only|field_value }} - {{ 'Present'|t -}}
        {% endif %}

        {% if content.field_dates_only|render and node.field_dates_only.0.get('end_value').value %}
            {{ content.field_dates_only|field_value }}
        {% endif %}
    {% endset %}
{% endif %}

{% set rendered_content = content|without(
    'field_dates_only',
    'field_media_primary',
    'field_overview',
    'field_ref_research_areas',
) %}

{% set default_image = drupal_image('public://images/2024-01/default-thumbnail-image-surf.png', 'teaser_default', responsive=true) %}

{% embed 'surf_main:teaser' with {
    attributes,
    rendered_content,
    teaser_attributes: create_attribute({'class': 'm-teaser--experiment'}),
    teaser_content: content.field_overview|field_value|default([]),
    teaser_dates: experiment_dates,
    teaser_media: content.field_media_primary|field_value|default(default_image),
    teaser_title: label,
    teaser_title_tag: 'h3',
    teaser_tags: content.field_ref_research_areas|field_value|default([]),
    teaser_url: url,
} only %}
    {% block teaser_content_suffix %}
        <div class="m-teaser__content-suffix">
            {% if teaser_dates %}
                <p class="m-teaser__dates">
                    {{ teaser_dates }}
                </p>
            {% endif %}

            <ul class="m-teaser__tags">
                {% for tag in teaser_tags %}
                    <li>
                        {{ tag }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endblock %}
{% endembed %}
