{#
/**
 * @file
 * Page component for Press Release
 *
 * Available props:
 * - attributes: [Drupal\Core\Template\Attribute] Drupal reserved space for attributes.
 * - press_release_attributes: [array] Any parent tag attributes.
 * - press_release_author: [string] Reserved for the author's name.
 * - press_release_categories: [array] Reserved for a list of relevant categories.
 * - press_release_content: [array] Reserved for the builder's content.
 * - press_release_heading: [string] Reserved for the primary title.
 * - press_release_media: [array] Reserved for the primary media item.
 * - press_release_press_contact: [array] Reserved for a specific contact item.
 * - press_release_pub_date: [string] Reserved for the published date.
 * - press_release_resources: [array] Reserved for any related resources.
 *
 */
#}

{% set classes = [
    'p-press-release',
] %}

{#{% set article_tags = [] %}#}

{#{% if content.field_ref_research_areas|render %}#}
{#    {% set article_tags = article_tags|merge(content.field_ref_research_areas|field_value) %}#}
{#{% endif %}#}

{#{% if content.field_ref_key_impact_areas|render %}#}
{#    {% set article_tags = article_tags|merge(content.field_ref_key_impact_areas|field_value) %}#}
{#{% endif %}#}

{#{% if content.field_ref_eo_opportunities|render %}#}
{#    {% set article_tags = article_tags|merge(content.field_ref_eo_opportunities|field_value) %}#}
{#{% endif %}#}

{#{% if content.field_ref_audiences|render %}#}
{#    {% set article_tags = article_tags|merge(content.field_ref_audiences|field_value) %}#}
{#{% endif %}#}

<article {{ press_release_attributes.addClass(classes).merge(attributes) }}>
    <section class="p-press-release__header">
        <div class="container container--small">
            {{ drupal_breadcrumb() }}

            {% if press_release_pub_date %}
                <div class="p-press-release__pub-date">
                    {{ press_release_pub_date }}
                </div>
            {% endif %}

            {% include 'surf_main:heading' with {
                heading_attributes: create_attribute({'class': ['p-press-release__heading']}),
                heading_text: press_release_heading,
                heading_level: '1',
            } only %}
        </div>
    </section>

    {% if press_release_media %}
        <section class="p-press-release__media">
            <div class="container container--medium">
                <h2 class="visually-hidden">{{ 'Press release media'|t }}</h2>
                {{ press_release_media }}
            </div>
        </section>
    {% endif %}

    {% if press_release_content %}
        <section class="p-press-release__content">
            <div class="container container--small">
                {{ press_release_content }}
            </div>
        </section>
    {% endif %}

    <section class="p-press-release__meta">
        <div class="container container--small">
            <h2 class="visually-hidden">{{ 'Press release meta information'|t }}</h2>

            {% if press_release_author %}
                <div class="p-press-release__author">
                    <p>{{- 'By'|t }} {{ press_release_author }}</p>
                </div>
            {% endif %}

            {% if press_release_categories is not empty%}
                <div class="p-press-release__categories">
                    <ul>
                        {% for category in press_release_categories %}
                            <li>
                                {% include 'surf_main:chip' with {
                                    chip_attributes: create_attribute(),
                                    chip_size: 'small',
                                    chip_text: category,
                                } only %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            {% if press_release_press_contact %}
                <div class="p-press-release__press-contact">
                    <h3>{{ 'Press Contact'|t }}</h3>
                    {{ press_release_press_contact }}
                </div>
            {% endif %}

            {% if press_release_resources %}
                <div class="p-press-release__resources">
                    {{ press_release_resources }}
                </div>
            {% endif %}
        </div>
    </section>

    {% if drupal_view_result('press_releases', 'related_press_release') is not empty %}
        <section class="p-press-release__related">
            <div class="container container--xlarge">
                {% include 'surf_main:left-hook' with {
                    left_hook_attributes: create_attribute(),
                } only %}

                {% include 'surf_main:heading' with {
                    heading_attributes: create_attribute({'class': ['a-heading--lg']}),
                    heading_text: research_area ~ 'Related press releases'|t,
                    heading_level: '2',
                } only %}

                {{ drupal_view('press_releases', 'related_press_release') }}
            </div>
        </section>
    {% endif %}
</article>
