{%
  set classes = [
  'c-media',
  'l-constrained--large',
  'l--bottom-spacing',
]
%}

<figure {{ attributes.addClass(classes).merge(attributes) }}>

  {% block image_block %}
    {% if image_url %}
      <div class="c-media__image-wrapper">
        <img src="{{ image_url }}" alt="{{ image_alt }}" />
        {% if image_credit %}<div class="c-media__image-credit">{{image_credit}}</div>{% endif %}
      </div>
    {% endif %}
  {% endblock %}

  {% block video_block %}
    {% if video_url %}
      <div class="c-media__video-wrapper">
        <iframe src="{{ video_url }}" frameborder="0" allowtransparency="" width="426" height="240" title="{{ title }}"></iframe>
      </div>
    {% endif %}
  {% endblock %}


  {% block caption_block %}
    {% if caption %}
      <figcaption class="c-media__caption">
        {{caption|check_markup('plain')}}
      </figcaption>
    {% endif %}
  {% endblock %}

</figure>