{% import '@surf_main-components/component.twig' as component %}
{{ attach_library('surf_main/tabs') }}

{% macro tabs__item(link, attributes) %}
  <li{{ attributes.addClass('tabs__item') }}>{{ link }}</li>
{% endmacro %}

<ul {{ component.attributes('tabs', modifiers, attr) }}>
  {{ content }}
</ul>
