{#
/**
 * @file
 * Component for Teaser - Default
 *
 * Available props:
 * - teaser_attributes
 * - teaser_link
 * - teaser_media
 * - teaser_title
 * - teaser_text
 *
 * Available slots:
 * - teaser_extra
 *
 */
#}

{% set classes = [
    'teaser',
    'teaser--default',
] %}

<article {{ teaser_attributes.addClass(classes) }}>
    <div class="teaser__media">
        <a href="{{ teaser_link }}">
            {{ teaser_media }}
        </a>
    </div>

    <h3 class="teaser__title">
        <a href="{{ teaser_link }}">
            {{ teaser_title }}
        </a>
    </h3>

    <div class="teaser__text">
        {{ teaser_text }}
    </div>

    {% block teaser_extra %}{% endblock %}
</article>
