<section {{ clAttributes.addClass('c-list'|addModifiers([items|length ~ '-columns', style])).addClass('l-constrained') }}>
  <div class="c-list--inner-wrapper">

    <div class="c-list--main">

    {% if items %}
    <ul class="c-list__items">
      {% for key, item in items %}
      {% block items_block %}

      <li class="c-list__item">
        {{item.content|check_markup('plain')}}
      </li>
      {% endblock %}
      {% endfor %}
    </ul>
    {% endif %}

      {# PRIMARY COLUMN #}
      {# {% if primary %}
      <div class="c-layout--region c-layout--primary">
        {% block primary_block %}
        {{ secondary|check_markup('plain') }}
        {% endblock %}
      </div>
      {% endif %} #}

      {# SECONDARY COLUMN #}
      {# {% if secondary %}
      {% block secondary_block %}
      <div class="c-layout--region c-layout--secondary">
        {{ secondary|check_markup('plain') }}
      </div>
      {% endblock %}
      {% endif %} #}

      {# TERTIARY COLUMN #}
      {# {% if tertiary %}
      {% block tertiary_block %}
      <div class="c-layout--region c-layout--tertiary">
        {{ tertiary|check_markup('plain') }}
      </div>
        {% endblock %}
        {% endif %} #}

    </div>
  </div>
</section>