<section {{ attributes.addClass(['c-about-hero', 'l-constrained--xlarge', 'l--bottom-spacing']).merge(clAttributes) }}>

  {% if heading is not empty %}
  <div class="c-about-hero__heading">
    <h1>{{heading}}</h1>
  </div>
  {% endif %}

  {% if overview is not empty %}
  <div class="c-about-hero__overview">
    {{ overview }}
  </div>
  {% endif %}

  {% if image_url is not empty %}
  <div class="c-about-hero__image">
    <img src="{{image_url}}" alt="{{image_alt ? image_alt : '' }}">
  </div>
  {% endif %}

  {% if subtitle is not empty %}
  <div class="c-about-hero__subtitle">
    {{ subtitle }}
  </div>
  {% endif %}

  {% if body is not empty %}
  <div class="c-about-hero__body">
    {{ body }}
  </div>
  {% endif %}

</section>