{% set listStackMetaSeperator = 'no_listStackMetaSeperator' %}
 {% if (category and date and layout == 'column-simple-stack') or (layout == 'list-stack' and date and time) %}
  {% set listStackMetaSeperator = 'listStackMetaSeperator' %}
{% endif %}

{% set imageClass = 'no-image' %}
 {% if image %}
  {% set imageClass = 'image' %}
{% endif %}

{%
  set classes = [
  'c-teaser',
  layout,
  icon,
  listStackMetaSeperator,
  imageClass,
]
%}

<article {{ attributes.addClass(classes).merge(attributes) }}>

  {# Image & Category #}
  {% if image %}
    <div class="c-teaser__image-wrapper">
      <div class="c-teaser__image-inner-wrapper">
        {# Image #}

        {% if image %}

          {{ include('surf_main:image', {
            image: image,
            alt: alt,
          }, with_context = false) }}

        {% endif %}

        {# Category #}
        {% if category and layout == 'column-stack' %}
          {% block category_block %}
            <p class="c-teaser__category">
              <a href="{{category_url}}">{{category}}</a>
            </p>
          {% endblock %}
        {% endif %}

      </div>
    </div>
  {% endif %}

  <div class="c-teaser__content-wrapper">

    {# Pre Title #}
    {% if pretitle %}
      {% block pretitle_block %}
        <p class="c-teaser__pretitle">
          {{pretitle}}
        </p>
      {% endblock %}
    {% endif %}

    {# Title #}
    {% if title %}
      {% block title_block %}
        <h3 class="c-teaser__title">
          <a href="{{url}}">{{title}}</a>
        </h3>
      {% endblock %}
    {% endif %}

    {# Body #}
    {% if body %}
      {% block body_block %}
        <div class="c-teaser__body">
         <p>{{body|check_markup('plain') }}</p>
        </div>
      {% endblock %}
    {% endif %}

    {% if category or teaser_date or teaser_time %}
      <div class="c-teaser__meta-wrapper">

         {# Category #}
          {% if category and (layout == 'super' or layout == 'column-simple-stack' or layout == 'list-stack') %}
            {% block category2_block %}
              <p class="c-teaser__category {{category_color}}">
                <a href="{{category_url}}">{{category}}</a>
              </p>
            {% endblock %}
          {% endif %}

        <div class="c-teaser__date-time-wrapper">
          {# Date #}
          {% if teaser_date %}
            {% block date_block %}
              <p class="c-teaser__date">
                {{teaser_date}}
              </p>
            {% endblock %}
          {% endif %}

          {# Time #}
          {% if teaser_time %}
            {% block time_block %}
              <p class="c-teaser__time">
                {{teaser_time}}
              </p>
            {% endblock %}
          {% endif %}
        </div>

      </div>
    {% endif %}


    {# Tags #}
    {% if tags or grade_levels or content_areas or standards %}
      <ul class="c-teaser__tags">

        {# Tags #}
        {% for key, tag in tags if tags %}
          <li class="c-teaser__tag"><a href="{{tag.title}}">{{tag.title}}</a></li>
        {% endfor %}

        {# Tags: Grades #}
        {% for tag in grade_levels if grade_levels %}
          <li class="c-teaser__tag"><a href="curriculum-module?grade_level={{tag.id}}">{{tag.title}}</a></li>
        {% endfor %}

        {# Tags: Content Areas #}
        {% for tag in content_areas if content_areas %}
          <li class="c-teaser__tag"><a href="curriculum-module?content_area={{tag.id}}">{{tag.title}}</a></li>
        {% endfor %}

        {# Tags: Standards #}
        {% if standards %}
          <li class="c-teaser__trigger" data-standards-count="{{standards|length}}">View Standards ({{standards|length}})</li>
          {% for tag in standards %}
            <li class="c-teaser__tag standards">{{tag.title}}</li>
          {% endfor %}
        {% endif %}

      </ul>
    {% endif %}

  </div>
</article>