<article {{ clAttributes.addClass('c-curriculum-module'|addModifiers(style), 'l-constrained') }}>

  <header class="c-curriculum-module__header-wrapper l-constrained--large">

    {% if breadcrumbs %}
    <div class="c-curriculum-module__breadcrumbs-date-wrapper">
      {# Breadcumbs #}
        {% include "breadcrumbs" with {
          items: breadcrumbs
        } %}
    </div>
    {% endif %}


    {# Title #}
    <h1 class="c-curriculum-module__title">{{title}}</h1>

     {# Overview #}
    {% if overview %}
    <div class="c-curriculum-module__overview">
      {{ overview }}
    </div>
    {% endif %}

    {# Meta Data #}
    <div class="c-curriculum-module__meta-data">

      {% if grade_levels['#items'] %}
      <div class="c-curriculum-module__meta-data--grade-levels">
      <h2 class="c-curriculum-module__meta-data-title">Grade Level</h2>
      <ul class="c-curriculum-module__meta-data-items">
        {% for item in grade_levels['#items'] %}
        <li class="c-curriculum-module__meta-data-item">
          <a
            href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': item.entity.tid.value}) }}">{{item.entity.name.value}}</a>
        </li>
        {% endfor %}
      </ul>
      </div>
      {% endif %}

      {% if content_areas['#items'] %}
      <div class="c-curriculum-module__meta-data--content-areas">
      <h2 class="c-curriculum-module__meta-data-title">Content Areas</h2>
      <ul class="c-curriculum-module__meta-data-items">
        {% for item in content_areas['#items'] %}
        <li class="c-curriculum-module__meta-data-item">
          <a
            href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': item.entity.tid.value}) }}">{{item.entity.name.value}}</a>
        </li>
        {% endfor %}
      </ul>
      </div>
      {% endif %}

      {% if time_required %}
      <div class="c-curriculum-module__meta-data--time-required">
      <h2 class="c-curriculum-module__meta-data-title">Time Required</h2>
       <ul class="c-curriculum-module__meta-data-items">
        <li class="c-curriculum-module__meta-data-item">{{time_required}}</li>
       </ul>
       </div>
      {% endif %}

    </div>


    {# Link #}
    {% if link_url %}
    <p class="c-curriculum-module__link">
      <a href="{{link_url}}" class="forest-button">
        {% if link_text %}{{ link_text }}{% else %}Visit Website{% endif %}
        <span class="link-button__icon">
			  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none"><path stroke="currentColor" stroke-width="1.5" d="M6.193 16h19.613M18.58 23.226 25.808 16 18.58 8.774"/></svg>
		    </span>
      </a>
    </p>
    {% endif %}

  </header>


  <div class="c-curriculum-module__content-wrapper l-constrained--small">

    {# Primary Media (image) #}
    {% if image_url %}
    <div class="c-curriculum-module__image-wrapper">
        {% include "image" with {
        image: image_url,
        alt: image_alt,
        credit: image_credit
        } %}
    </div>
    {% endif %}

    {# Primary Media (video) #}
    {% if video_url %}
    <div class="c-curriculum-module__video-wrapper">
        {% include "video" with {
            title: video_title,
            video: "https://player.vimeo.com/video/" ~ video_url,
        } %}
    </div>
    {% endif %}

    <div class="c-curriculum-module-content__inner-wrapper">

    {# Body #}
    {% if body %}
    <h3 class="c-curriculum-module-content__title">Overview</h3>
    <div class="c-curriculum-module__body-wrapper">
      {{ body }}
    </div>
    {% endif %}
    </div>

    {# Curriculum Standards #}
    {% if curriculum_standards %}
    <div class="c-curriculum-module__curriculum-standards-wrapper">
    <h3 class="c-curriculum-module__curriculum-standards-title">Curriculum Standards</h3>
     {% for item in curriculum_standards|field_value %}
      <div class="c-curriculum-module__curriculum-standards-item">
        <h4 class="c-curriculum-module__curriculum-standards-item-title">
        <a href="/taxonomy/term/{{item["#taxonomy_term"].name.tid.value}}">{{item["#taxonomy_term"].name.value}}</a>
        </h4>
        <div class="c-curriculum-module__curriculum-standards-item-body">
        {{item["#taxonomy_term"].description.value|t()}}

        </div>
      </div>
     {% endfor %}
     </div>
    {% endif %}

  </div>

  {% if related %}
  <hr class="left-hook-divider bottom l-constrained--xlarge" />
  {# Press Resources #}
  <div class="c-curriculum-module__related-wrapper l-constrained--xlarge">
    <h2 class="c-curriculum-module__related-title">More Middle School Curriculum</h2>
    {{ include('list', {style: 'c-list__items', items: related })}}
  </div>
  {% endif %}

  <div class="c-curriculum-module__bottom-wrapper ">


  {# Back Link  #}
    <div class="l-constrained--xlarge">
    <p class="c-curriculum-module__link-back">
    {# FIXME: this might not be the correct link #}
      <a href="{{category_url}}" class="forest-button">
           <span class="link-button__icon-left">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="33" fill="none"><path stroke="currentColor" stroke-width="1.5" d="M25.807 16.479H6.194M13.42 23.704l-7.226-7.226 7.226-7.225"/></svg>
		    </span>
        Back to All Curriculum</a>
    </p>
    </div>

  </div>
</article>