{#
/**
 * @file
 * Theme implementation to display an Article Node with Search Result view mode.
 *
 * Available variables:
 *  - No additional variables are available for this Node type.
 *
 * @see templates/nodes/node.html.twig
 * @see components/02-molecules/teaser
 */
#}

{% set rendered_content = content|without(
    'field_media_primary',
    'field_overview',
    'search_api_excerpt',
) %}

{% embed 'surf_main:teaser' with {
    attributes,
    rendered_content,
    teaser_attributes: create_attribute({'class': 'm-teaser--search-result'}),
    teaser_content: content.search_api_excerpt|render ? content.search_api_excerpt : content.field_overview|field_value,
    teaser_title: label|field_value,
    teaser_title_tag: 'h3',
    teaser_url: url,
    media: content.field_media_primary|render ? content.field_media_primary|field_value,
    default_image: drupal_image('public://images/2024-01/default-thumbnail-image-surf.png', 'teaser_default', responsive=true),
} %}
    {% block teaser_media %}
        {% if media is not empty %}
            <div class="m-teaser__media">
                {% if teaser_url %}
                <a href="{{ teaser_url }}" class="m-teaser__link" tabindex="-1" aria-hidden="true">
                    {% endif %}

                    {{ media }}

                    {% if teaser_url %}
                </a>
                {% endif %}
            </div>
        {% else %}
            <div class="m-teaser__media">
                {% if teaser_url %}
                <a href="{{ teaser_url }}" class="m-teaser__link" tabindex="-1" aria-hidden="true" aria-label="{{ teaser_title }}">
                    {% endif %}

                    {{ default_image }}

                    {% if teaser_url %}
                </a>
                {% endif %}
            </div>
        {% endif %}
    {% endblock %}
{% endembed %}
