{#
/**
 * @file
 * Component for Press Release (Node)
 *
 * Available props:
 * - attributes: [Drupal\Core\Template\Attribute] Drupal reserved space for attributes.
 * - press_release_attributes: [array] Any parent tag attributes.
 * - press_release_heading: [string]
 * - press_release_media: [array]
 * - press_release_author: [string]
 * - press_release_pub_date: [string]
 * - press_release_primary_contact: [string]
 * - press_release_content: [array]
 * - press_release_categories: [array]
 * - press_release_resources_list: [array]
 *
 */
#}

{%
  set classes = [
  'o-research',
]
%}

<article {{ press_release_attributes.addClass(classes).merge(attributes) }}>

  <div class="container container--xlarge">
    
    <p class="o-press-release__pub-date">{{ press_release_pub_date }}</p>

    {% embed 'surf_main:heading' with {
      heading_attributes: create_attribute({'class': ['o-press-release__heading']}),
      heading_text: press_release_heading,
      heading_level: '1',
    } only %}
    {% endembed %}

    {% if press_release_media %}
      <div class="o-press-release__media">
        {{ press_release_media }}
      </div>
    {% endif %}

    {# Main Content #}
    <div class="o-press-release__main-content">

      {{ press_release_content }}

      <hr class="o-press-release__divider">

      {% if press_release_author %}
        <p class="o-press-release__author">By {{ press_release_author }}</p>

        {% if press_release_categories %}
          <ul class="o-press-release__categories">
            {% for category in press_release_categories %}
              <li>
                {% embed 'surf_main:chip' with {
                  chip_text: category,
                  chip_size: 'small',
                  chip_attributes: create_attribute(),
                } only %}
                {% endembed %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}

      {% endif %}

      {% if press_release_primary_contact %}
        <p class="o-press-release__contact-label">Press Contact</p>
        {{ press_release_primary_contact }}
      {% endif %}

      {% if press_release_resource_list %}
        {{ press_release_resource_list }}
      {% endif %}

    </div>

    {# Additional Content #}
    <div class="o-press-release__additional-content">
      {% if drupal_view_result('in_the_news', 'experiment') is not empty %}
        {% embed 'surf_main:left-hook' with {
          left_hook_attributes: create_attribute(),
        } only %}
        {% endembed %}

        {% embed 'surf_main:heading' with {
          heading_attributes: create_attribute({'class': ['a-heading--list-large']}),
          heading_text: 'Press Resources',
          heading_level: '2',
        } only %}
        {% endembed %}

        {{ drupal_view('in_the_news', 'research') }}
      {% endif %}
    </div>
  </div>
</article>