{%
  set classes = [
  'c-person-page',
  media ? 'c-person-page--with-img',
]
%}

<article {{ attributes.addClass(classes).merge(attributes) }}>
  <div class="container container__type--person">
    <div class="c-person-page__grid">
      {# Breadcumbs #}
      {% if breadcrumbs %}
        {{ include('surf_main:breadcrumbs', {
          items: breadcrumbs,
        }, with_context = false) }}
      {% endif %}

      {# Title / Full Name #}
      <h1 class="person-content__title">
        {{ title }}
      </h1>
      <div class="c-person-page__content">
        <div class="c-person-page__content-grid">

          {# Job Title #}
          {% if job_title %}
            <h2 class="person-content__job-title">
              {{ job_title }}
            </h2>
          {% endif %}

          {% if phone or email %}
            <div class="person-content__contact-wrapper">

              {# Phone #}
              {% if phone %}
                <p class="person-content__phone">
                  {{ phone }}
                </p>
              {% endif %}

              {# Email #}
              {% if email %}
                <p class="person-content__email">
                  <a href="mailto:{{ email }}">{{ 'Contact'|t }}</a>
                </p>
              {% endif %}

            </div>
          {% endif %}

          {# Body#}
          {% if body %}
            <div class="person-content__wrapper">
              {{ body }}
            </div>
          {% endif %}
        </div>
      </div>

      {% if media %}
        <div class="c-person-page__media">
          {{ media }}
        </div>
      {% endif %}

    </div>
  </div>
</article>