<div class="layout-container">
	{% block site_alert %}
		<div class="l-constrained">
			{{ page.site_alert }}
		</div>
	{% endblock %}
	{# /site_alert #}

	{% block site_header %}
		{%
    include '@surf_main-components/site-header/site-header.html.twig' with {
      header_utility: page.header_utility,
      header_primary: page.header_primary,
    }
  %}
	{% endblock %}
	{# /site_header #}

	{% block breadcrumb %}
		<div class="l-constrained">
			{{ page.breadcrumb }}
		</div>
	{% endblock %}
	{# /breadcrumb #}

	{{ page.highlighted }}

	{{ page.help }}

	{% block main %}
		<main>
			<a id="main-content" tabindex="-1"></a>
			{# link is in html.html.twig #}

			{% block content %}
				<div class="l-constrained">
					{{ page.content }}
				</div>
			{% endblock %}
			{# /content #}

			{% block sidebar_right %}
				{{ page.sidebar_right }}
			{% endblock %}
			{# /sidebar_right #}

		</main>
	{% endblock %}
	{# /main #}

	{% block site_footer %}
		{%
    include '@surf_main-components/site-footer/site-footer.html.twig' with {
      footer_top: page.footer_top,
      footer_bottom: page.footer_bottom
    } only
  %}
	{% endblock %}
	{# /site_footer #}
</div>
{# /.layout-container #}
