{% import '@surf_main-components/component.twig' as component %}
{{ attach_library('surf_main/more-link') }}
{% set attr = attr|default({})|merge({href: url})%}
{% if back %}
{% set modifiers = modifiers|default([])|merge(['back']) %}
<a {{component.attributes('more-link', modifiers, attr)}}><span class="more-link__arrow">←</span>&nbsp;{{ text }}</a>
{% else %}
<a {{component.attributes('more-link', modifiers, attr)}}>{{ text }}&nbsp;<span class="more-link__arrow">→</span></a>
{% endif %}
