<section {{ attributes.addClass(['c-resources-file', file_mimetype]).merge(clAttributes) }}>
  <span class="c-resources-file__title-wrapper">
    <a href="{{file_url}}" target="_blank" rel="nofollow noreferrer noopener" class="c-resources-file__link">{{file_title}}</a>
  </span>
  <span class="c-resources-file__meta-wrapper">
    <span class="c-resources-file__size">{{file_size}}</span> <span class="c-resources-file__mimetype">{{file_mimetype}}</span>
  </span>
</section>