{#
/**
 * @file
 * Theme implementation to display a Person Node with Full view mode.
 *
 * Available variables:
 * - No additional variables are available for this node type.
 *
 * @see templates/nodes/node.html.twig
 * @see components/03-organisms/person/person.twig
 */
#}

{% set rendered_content = content|without(
    'body',
    'field_board_type',
    'field_email',
    'field_job_title',
    'field_location',
    'field_media_primary',
    'field_name',
    'field_phone_office',
    'field_ref_department',
    'field_ref_experiments',
    'field_ref_person_type',
    'field_science_field',
    'field_term_expiration',
) %}

{% set person_titles %}
    {% if content.field_job_title|render %}
        <span class="p-person__job-title">{{ content.field_job_title|field_value }}</span>
    {% endif %}

    {% if content.field_ref_department|render %}
        <span class="p-person__department">{{ content.field_ref_department|field_value }}</span>
    {% endif %}

    {% if content.field_board_type|render %}
        <span class="p-person__board-type">{{ content.field_board_type|field_value }}</span>
    {% endif %}

    {% if content.field_ref_person_type|render %}
        {% for index in 0..content.field_ref_person_type|field_value|length - 1 %}
            <span class="p-person__person-type">{{ content.field_ref_person_type[loop.index0] }}</span>
        {% endfor %}
    {% endif %}

    {% if content.field_term_expiration|render %}
        <span class="p-person__term-expiration">{{ content.field_term_expiration|field_value }}</span>
    {% endif %}

    {% if content.field_science_field|render %}
        <span class="p-person__science-field">{{ content.field_science_field|field_value }}</span>
    {% endif %}

    {% if content.field_location|render %}
        <span class="p-person__location">{{ content.field_location|field_value }}</span>
    {% endif %}

    {% if content.field_ref_experiments|render %}
        {% for index in 0..content.field_ref_experiments|field_value|length - 1 %}
            <span class="p-person__experiment">{{ content.field_ref_experiments[loop.index0] }}</span>
        {% endfor %}
    {% endif %}
{% endset %}

{% include 'surf_main:person' with {
    rendered_content,
    person_attributes: create_attribute().merge(attributes),
    person_heading: content.field_name|field_value|default([]),
    person_titles: person_titles,
    person_body: content.body|render ? content.body|field_value,
    person_phone: content.field_phone_office|render ? content.field_phone_office|field_value,
    person_email: content.field_email|render ? content.field_email|field_value,
    person_media: content.field_media_primary|render ? content.field_media_primary|field_value,
} only %}
